

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 42px;
    right: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    transition: .3s;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #616161;
    transition: .3s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    height: 0;
    right: -15px;
    width: 300px;
    overflow: hidden;
    margin: 0;
    padding: 80px 0 40px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: .3s;
    position: absolute;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .menu-active {
    visibility: visible;
    transition: .3s;
    height: 400px;
  }

  .menu-btn_active {
      transform:rotate(90deg);
      transition: .3s;
  }

  @media screen and (min-width:1400px) {
      .container {
          max-width: 1170px;
      }
  }

  @media screen and (max-width:578px) {
      .menu__box {
          width: 100%;
          padding: 90px 0 40px !important;
      }
  }
